[profile.default]
src = 'contracts'
test = 'test'
script = 'scripts'
out = 'out'
libs = [
    'lib'
]

remappings = [
    "forge-std/=lib/forge-std/src/",
    "ds-test/=lib/forge-std/lib/ds-test/src/",
    "chainlink/=lib/chainlink/contracts/src/v0.8/",
    "openzeppelin/=lib/openzeppelin-contracts/contracts/"
]

libraries = []

cache = true
cache_path = 'cache'
broadcast = 'broadcast'
allow_paths = []
include_paths = []
force = false
evm_version = 'london'
gas_reports = ['*']
gas_reports_ignore = []
auto_detect_solc = true
offline = false
optimizer = true
optimizer_runs = 100
verbosity = 0
ignored_error_codes = [
    1878,
    5574,
]
fuzz_runs = 256
invariant_runs = 256
invariant_depth = 15
invariant_fail_on_revert = false
invariant_call_override = false
ffi = false
initial_balance = '0xffffffffffffffffffffffff'
block_number = 1
gas_limit = 9223372036854775807
block_base_fee_per_gas = 0
block_coinbase = '0x0000000000000000000000000000000000000000'
block_timestamp = 1
block_difficulty = 0
memory_limit = 33554432
extra_output = []
extra_output_files = []
fuzz_max_local_rejects = 1024
fuzz_max_global_rejects = 65536
names = false
sizes = false
via_ir = false
no_storage_caching = false
bytecode_hash = 'ipfs'
sparse_mode = false
build_info = false

[profile.local]
libraries = []

[profile.goerli]
libraries = [
    "contracts/utils/LineLib.sol:LineLib:0xec6e736d8774f9949Cb0985cB4cc1ec9224a601c",
    "contracts/utils/CreditLib.sol:CreditLib:0xDb19FCFe818493ee84Ce33137b0851DE88c9fF13",
    "contracts/utils/CreditListLib.sol:CreditListLib:0x627A8B08F7d0F10F6BDC4Ef668841fb10B3B2b1d",
    "contracts/utils/SpigotLib.sol:SpigotLib:0x78064A7b6259BcE045d377593288273D22459dfe",
    "contracts/utils/EscrowLib.sol:EscrowLib:0x20b7C07AF032C3a999D9CECf804f4D3b9Fac6a3F",
    "contracts/utils/SpigotedLineLib.sol:SpigotedLineLib:0x09d811eEab9893d2285b38728574c55401Ea6A9B",
    "contracts/utils/LineFactoryLib.sol:LineFactoryLib:0xC6805c0B1Ba484128cE97e92CF5ca09d82B3D51e",
    "contracts/modules/factories/ModuleFactory.sol:ModuleFactory:0x70a951E2D2Ee4Fc6D38325AB0e0ED1a789Eb2D8E"
    ]

[profile.mainnet]
libraries = [
]

[profile.default.rpc_storage_caching]
chains = 'all'
endpoints = 'all'

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = 'long'
func_attrs_with_params_multiline = true
quote_style = 'double'
number_underscore = 'preserve'
